body {
    margin: 0;
    background-color: #ddd;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-shrink: 0;
    margin: 50px 140px;
    gap: 80px;
}

@media (max-width: 1500px) {
    .wrapper {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 50px 0;
    }
}