.editor-wrapper {
    height: fit-content;
    width: 30vw;
    padding: 0 30px 40px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(184, 184, 184);
    background-color: rgb(255, 255, 255);
}

.editor-title {
    font-size: 2rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.input {
    border: 2px solid black;
    border-radius: 6px;
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    background-color: #eee;
    cursor: pointer;
}

.input:focus,
.input:hover {
    background-color: #ddd;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
}

.new-language {
    border: 2px solid black;
    color: white;
    background-color: rgb(50, 50, 50);
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
    margin-left: 10px;
}