.editor-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 500px;
    width: 30vw;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 4px 4px 4px rgb(184, 184, 184);
    background-color: rgb(255, 255, 255);
}

.input {
    border: 2px solid black;
    border-radius: 6px;
    height: 40px;
    padding: 0 10px;
    font-size: 1rem;
    background-color: #eee;
    cursor: pointer;
}

.input:focus {
    background-color: #ddd;
}

/* Chrome, Safari, Edge, Opera */
.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.input[type=number] {
  -moz-appearance: textfield;
}
