.curriculum {
    background-color: white;
    box-shadow: 4px 4px 4px rgb(184, 184, 184);
    height: 860px;
    width: 45vw;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 35% 65%;
}

.left-side {
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    min-width: fit-content;
}

.face-photo {
    height: 200px;
    border-radius: 6px;
    width: 150px;
    margin-top: 20px;
    background-color: #ddd;
    border: 3px solid white;
}

.languages,
.contacts {
    width: 100%;
}

.side-title {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

.icon {
    height: 24px;
    width: auto;
    filter: invert(100%);
}

/* ------------------------------------------------------------------------------------- */

.right-side {
    display: grid;
    grid-template-rows: 20% 80%;
    padding: 30px;
    min-width: fit-content;
}

.name-and-title {
    border-bottom: 2px solid black;
}

.right-side-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.right-side-icon {
    height: 28px;
    width: auto;
}

.work-icon {
    height: 24px;
    width: auto;
}