.info {
    background-color: white;
    box-shadow: 4px 4px 4px rgb(184, 184, 184);
    height: fit-content;
    width: 750px;
    border-radius: 6px;
    display: grid;
    grid-template-columns: 262.5px 487.5px;
    overflow-wrap: break-word;
}

.left-side {
    background-color: rgb(50, 50, 50);
    color: white;
    border-radius: 6px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    min-width: 200px;
}

.output {
    overflow: hidden;
}

.main-output {
    max-width: 85%;
    overflow: hidden;
}

.face-photo {
    height: 200px;
    border-radius: 6px;
    width: 150px;
    margin-top: 20px;
    background-color: #ddd;
    border: 3px solid white;
}

.contact-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    font-weight: bold;
    font-size: 1rem;
}

.languages,
.contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.side-title {
    font-weight: bold;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 40px;
}

.icon {
    height: 24px;
    width: auto;
    filter: invert(100%);
}

.website {
    flex-wrap: wrap;
}

.language-title {
    margin-bottom: 24px;
}

.languages-known {
    font-size: 1.25rem;
    margin-top: 0;
    text-align: center;
}

/* ------------------------------------------------------------------------------------- */

.right-side {
    display: grid;
    grid-template-rows: min-content 80%;
    padding: 20px;
    min-width: fit-content;
    margin-left: 30px;
}

.name-and-title {
    border-bottom: 2px solid black;
    height: fit-content;
    width: 75%;
}

.first-and-last-name {
    font-size: 3rem;
    margin: 0;
}

.job-title {
    font-size: 1.4rem;
}

.right-side-title {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.right-side-icon {
    height: 28px;
    width: auto;
}

.work-icon {
    height: 24px;
    width: auto;
}

.details {
    word-wrap: break-word;
    max-width: 400px;
}